# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

# swagger plugin generated directory
swagger

db-migrations/configs/*
!db-migrations/configs/default.json

env.serverless.ts
